.panel-custom {
  background-color: #777;
  color: #fff;
  font-size: 80%;
  vertical-align: baseline;
  padding: .4em .4em .4em;
  line-height: 1;
  font-weight: 700;
}

/* The Modal (background) */
.cd-popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.cd-popup-content {
  position: relative;
  width: 100%;
  max-width: 400px;
  justify-content: center;
  margin: 20% auto;
  background: #FFF;
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.cd-popup-content p {
  padding: 10% 1em;
}

.cd-popup-content .cd-buttons:after {
  content: "";
  display: table;
  clear: both;
}

.cd-popup-content .cd-buttons button {
  float: left;
  width: 50%;
  list-style: none;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
  opacity: 0.8;
}

.cd-popup-content .cd-buttons button:first-child{
    background-color: #ff6860;
    border-radius: 0 0 0 .25em;
}
.cd-popup-content .cd-buttons button:first-child:hover{
    opacity: 1
}
.cd-popup-content .cd-buttons button:last-child{
  background: #8a8f99;
  border-radius: 0 0 .25em 0;
}
.cd-popup-content .cd-buttons button:last-child:hover{
    opacity: 1
}
.cd-popup-content .cd-buttons-single button {
  width: 80%;
  height: 40px;
  list-style: none;
  border: none;
  color: white;
  background-color: #ff6860;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
  opacity: 0.8;
}
/* The Close Button */
.alertpopup_close {
  color: rgb(90, 90, 90);
  float: right;
  margin: 2px 5px;
  font-size: 28px;
  font-weight: bold;
}
.close {
  color: rgb(90, 90, 90);
  float: right;
  margin: 2px 5px;
  font-size: 28px;
  font-weight: bold;
}
.alertpopup_close:hover,
.alertpopup_close:focus,
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
ul {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
textarea {
  resize: none;
  width: 100%;
}