.panel-custom {
  background-color: #777;
  color: #fff;
  font-size: 80%;
  vertical-align: baseline;
  padding: .4em .4em .4em;
  line-height: 1;
  font-weight: 700;
}

.swal2-popup {
  font-size: 1.6rem !important;
}

ul {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
textarea {
  resize: none;
  width: 100%;
}
