[openvpn-monitor]
site=
#logo=logo.jpg
latitude=10.8
longitude=106.6
maps=False
maps_height=500
location=True
geoip_data=./GeoIP/GeoLite2-City.mmdb
wakeonlan=True
printlog=True
datetime_format=%d/%m/%Y %H:%M:%S

[VPN1]
host=localhost
port=5555
name=Staff VPN
password=
show_disconnect=False
