[
    {
        "ID": "ID001",
        "UserName": "User01",
        "ComputerName": "computer01",
        "IPAddress": "192.168.1.10",
        "MacAddress": "FC-12-13-92-64-15"
    },
    {
        "ID": "ID002",
        "UserName": "User02",
        "ComputerName": "computer02",
        "IPAddress": "192.168.1.11",
        "MacAddress": "7C-4B-48-39-DD-65"
    }
]